coverage.txt
c.out
state.yaml
config.yaml
!examples/**/config.yaml
terraform.tfstate*
.terraform
bin
.vagrant
kubeconfig
.terraform.tfstate.lock.info
.env
*.tar.gz
crash.log
flatcar_production_qemu_image.img
flatcar_production_qemu_image.img.bz2
*.auto.tfvars
pool
test-config.yaml
/flexkube
