bindAddress: 0.0.0.0:6443
apiLoadBalancers:
%{ for index, ssh_address in ssh_addresses ~}
- host:
      ssh:
          address: ${ssh_address}
%{ endfor ~}
servers:
%{ for server in servers ~}
- ${server}
%{ endfor ~}
ssh:
    user: "core"
    port: ${ssh_port}
    privateKey: |
        ${indent(8, trimspace(ssh_private_key))}
