kubernetesCACertificate: |
    ${indent(4, trimspace(kubernetes_ca_certificate))}
kubernetesCAKey: |
    ${indent(4, trimspace(kubernetes_ca_key))}


apiServerCertificate: |
    ${indent(4, trimspace(kubernetes_api_server_certificate))}
apiServerKey: |
    ${indent(4, trimspace(kubernetes_api_server_key))}

serviceAccountPublicKey: |
    ${indent(4, trimspace(service_account_public_key))}
serviceAccountPrivateKey: |
    ${indent(4, trimspace(service_account_private_key))}

adminCertificate: |
    ${indent(4, trimspace(admin_certificate))}
adminKey: |
    ${indent(4, trimspace(admin_key))}

rootCACertificate: |
    ${indent(4, trimspace(root_ca_certificate))}
kubeAPIServer:
    serviceCIDR: 11.0.0.0/24
    %{~ if replicas <= 1 ~}
    bindAddress: 0.0.0.0
    %{~ else ~}
    securePort: 8443
    %{~ endif ~}
kubeControllerManager:
    rootCACertificate: |
        ${indent(8, trimspace(root_ca_certificate))}
apiServerAddress: ${api_server_address}
apiServerPort: 6443
etcdServers:
%{ for etcd_server in etcd_servers ~}
- ${etcd_server}
%{ endfor ~}

ssh:
    user: "core"
    address: ${ssh_address}
    privateKey: |
        ${indent(8, trimspace(ssh_private_key))}
serviceCIDR: 11.0.0.0/24
