serverKey: |
{{ .State.PKI.Kubernetes.KubeAPIServer.ServerCertificate.PrivateKey | toString | trim | indent 2 }}
serverCertificate: |
{{ .State.PKI.Kubernetes.KubeAPIServer.ServerCertificate.X509Certificate | toString | trim | indent 2 }}
serviceAccountPublicKey: |
{{ .State.PKI.Kubernetes.ServiceAccountCertificate.PublicKey | toString | trim | indent 2 }}
caCertificate: |
{{ .State.PKI.Kubernetes.CA.X509Certificate | toString | trim | indent 2 }}
frontProxyClientKey: |
{{ .State.PKI.Kubernetes.KubeAPIServer.FrontProxyClientCertificate.PrivateKey | toString | trim | indent 2 }}
frontProxyClientCertificate: |
{{ .State.PKI.Kubernetes.KubeAPIServer.FrontProxyClientCertificate.X509Certificate | toString | trim | indent 2 }}
frontProxyCACertificate: |
{{ .State.PKI.Kubernetes.FrontProxyCA.X509Certificate | toString | trim | indent 2 }}
kubeletClientCertificate: |
{{ .State.PKI.Kubernetes.KubeAPIServer.KubeletCertificate.X509Certificate | toString | trim | indent 2 }}
kubeletClientKey: |
{{ .State.PKI.Kubernetes.KubeAPIServer.KubeletCertificate.PrivateKey | toString | trim | indent 2 }}
etcdCACertificate: |
{{ .State.PKI.Etcd.CA.X509Certificate | toString | trim | indent 2 }}
etcdClientCertificate: |
{{ with (index .State.PKI.Etcd.ClientCertificates "kube-apiserver") }}{{ .X509Certificate | toString | trim | indent 2 }}{{ end }}
etcdClientKey: |
{{ with (index .State.PKI.Etcd.ClientCertificates "kube-apiserver") }}{{ .PrivateKey | toString | trim | indent 2 }}{{ end }}
etcdServers:
{{- range $item := .Controlplane.KubeAPIServer.EtcdServers }}
- {{ $item }}
{{- end }}
serviceCIDR: {{ .Controlplane.KubeAPIServer.ServiceCIDR }}
replicas: {{ len .Etcd.Members }}
