apiVersion: v1
kind: Config
clusters:
- name: ${name}-cluster
  cluster:
    server: ${server}
    certificate-authority-data: ${ca_cert}
users:
- name: ${name}-user
  user:
    client-certificate-data: ${client_cert}
    client-key-data: ${client_key}
current-context: ${name}-context
contexts:
- name: ${name}-context
  context:
    cluster: ${name}-cluster
    namespace: kube-system
    user: ${name}-user
