cgroupDriver: ${cgroup_driver}
networkPlugin: ${network_plugin}
systemReserved:
  cpu: 100m
  memory: 500Mi
kubeReserved:
%{ for k, v in kube_reserved ~}
  ${k}: '${v}'
%{ endfor ~}
kubelets:
%{ for index, ssh_address in ssh_addresses ~}
- address: ${kubelet_addresses[index]}
  %{~ if network_plugin == "kubenet" ~}
  podCIDR: ${kubelet_pod_cidrs[index]}
  %{~ endif ~}
  name: ${kubelet_names[index]}
  bootstrapKubeconfig: |
      ${indent(6, trimspace(bootstrap_kubeconfig))}
  host:
      ssh:
          address: ${ssh_address}
%{ endfor ~}
kubernetesCACertificate: |
    ${indent(4, trimspace(kubernetes_ca_certificate))}
clusterDNSIPs:
- 11.0.0.10

%{~ if length(labels) > 0 ~}
labels:
%{ for k, v in labels ~}
  ${k}: '${v}'
%{ endfor ~}
%{~ endif ~}

%{~ if length(taints) > 0 ~}
taints:
%{ for k, v in taints ~}
  ${k}: '${v}'
%{ endfor ~}
%{~ endif ~}

%{ if privileged_labels_kubeconfig != "" ~}
privilegedLabelsKubeconfig: |
    ${indent(4, trimspace(privileged_labels_kubeconfig))}
%{ endif ~}

%{ if length(privileged_labels) > 0 }

privilegedLabels:
%{ for k, v in privileged_labels ~}
  ${k}: '${v}'
%{ endfor ~}
%{~ endif ~}

ssh:
    user: "core"
    port: ${ssh_port}
    privateKey: |
        ${indent(8, trimspace(ssh_private_key))}
