serviceAccountPrivateKey: |
  ${indent(2, trimspace(service_account_private_key))}
kubernetesCAKey: |
  ${indent(2, trimspace(kubernetes_ca_key))}
kubernetesCACertificate: |
  ${indent(2, trimspace(kubernetes_ca_certificate))}
rootCACertificate: |
  ${indent(2, trimspace(root_ca_certificate))}

replicas: ${replicas}
maxUnavailable: ${max_unavailable}
flexVolumePluginDir: /var/lib/kubelet/volumeplugins
apiServers:
%{ for api_server in api_servers ~}
- ${api_server}
%{ endfor ~}
