image: gcr.io/etcd-development/etcd:v3.4.0
ssh:
    user: "invidian"
    privateKey: |
        ${indent(8, trimspace(file("./id_rsa")))}
peerCACertificate: |
    ${indent(4, trimspace(peer_ca))}
members:
%{ for index, member in members ~}
    ${member.name}:
        peerCertificate: |
            ${indent(12, trimspace(peer_certs[index]))}
        peerKey: |
            ${indent(12, trimspace(peer_keys[index]))}
%{ if member.ssh_address != ""~}
        host:
            ssh:
                address: "${member.ssh_address}"
%{ endif ~}
        peerAddress: ${member.ip}
%{ endfor ~}
